* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/backgrouund.svg");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_logo {
  width: 200px;
  height: 200px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 40px;
}

.container_logo img {
  width: 120px;
  height: 120px;
}

h1 {
  color: white;
  margin-bottom: 50px;
}

.container_btn {
  width: 200px;
  height: 50px;
  background-image: linear-gradient(to right, #a87df3, #6756d7);
  border: none;
  color: white;
  border-radius: 10px;
  margin-bottom: 10px;
}

.container_btn_register {
  width: 200px;
  height: 50px;
  border: none;
  color: black;
  border-radius: 10px;
  box-shadow: 5px 5px 0; /* Sombra sin desenfoque */
  box-shadow: 5px 5px 2px; /* Sombra con ligero desenfoque */
  box-shadow: 5px 5px 10px; /* Sombra desenfocada */
  box-shadow: 5px 5px 70px;
}

/* #A87DF3 - #6756D7 */
